@using Microsoft.AspNetCore.Mvc

@namespace Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets

@inject IUrlHelper Url


@if (Properties.DescriptionPosition == nameof(DescriptionPositionOption.Above))
{
    <mj-text>
        <div class="text">
            <h1>@((MarkupString)Model.Title)</h1>
            <p>
                @((MarkupString)Model.Content)
            </p>
        </div>
    </mj-text>
    <mj-image src="@Url.Content(Model.ImageUrl)"
              css-class="image">
    </mj-image>
}
@if (Properties.DescriptionPosition == nameof(DescriptionPositionOption.Below))
{
    <mj-text>
        <div class="text">
            @((MarkupString)Model.Title)
        </div>
    </mj-text>
    <mj-image src="@Url.Content(Model.ImageUrl)"
              css-class="image">
    </mj-image>
    <mj-text>
        <div class="text">
            <p>@((MarkupString)Model.Content)</p>
        </div>
    </mj-text>
}
@code {
    [Parameter]
    public ArticleWidgetProperties Properties { get; set; } = new();
}