@using Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets.Enums

@namespace Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets

@if (Properties.ButtonType == nameof(ButtonType.Button))
{
    <mj-button align="@Properties.ButtonHorizontalAlignment" href="@Properties.Url" css-class="button">
        @Properties.Text
    </mj-button>
}
else
{
    <mj-text css-class="button">
        <a align="@Properties.ButtonHorizontalAlignment" href="@Properties.Url">
            @Properties.Text
        </a>
    </mj-text>
}