@namespace Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets

@if (Properties.ButtonType == ButtonType.Link)
{
    <mj-text align="@Properties.Alignment" css-class="button">
        <a href="@Properties.Url">
            @Properties.Text
        </a>
    </mj-text>
}
else
{
    <mj-button href="@Properties.Url" css-class="button">
        @Properties.Text
    </mj-button>
}

@code {
    [Parameter]
    public ButtonWidgetProperties Properties { get; set; } = null!;
}