@namespace Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets

@if (Properties.ButtonType == ButtonType.Link)
{
    <mj-text align="@Properties.Alignment">
        <a href="@Properties.Url"
           style="color: @Properties.TextColor;
           text-decoration: none;
           font-size: @Properties.FontSize;
           font-weight: @Properties.FontWeight;">
            @Properties.Text
        </a>
    </mj-text>
}
else
{
    <mj-button href="@Properties.Url" css-class="btn btn-secondary">
        @Properties.Text
    </mj-button>
}

@code {
    [Parameter]
    public ButtonWidgetProperties Properties { get; set; } = null!;
}