@namespace Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets
@using Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets.Enums

@if (Properties.WebPageItemUrlPosition == nameof(WebPageItemUrlPositionType.Title))
{
    <mj-text>
        <div class="text">
            <h1><a href="@WebPageItemUrl">@((MarkupString)Model.Title)</a></h1>
        </div>
    </mj-text>
    <mj-text>
        <div class="text">
            <p>
                @((MarkupString)Model.Content)
            </p>
        </div>
    </mj-text>
}
else if (Properties.WebPageItemUrlPosition == nameof(WebPageItemUrlPositionType.Above))
{
    <mj-text>
        <div class="text">
            <h1>@((MarkupString)Model.Title)</h1>
        </div>
    </mj-text>
    <mj-button href="@WebPageItemUrl
    " css-class="button">
        @Properties.ReadMoreButtonText
    </mj-button>
    <mj-text>
        <div class="text">
            <p>
                @((MarkupString)Model.Content)
            </p>
        </div>
    </mj-text>
}
else if (Properties.WebPageItemUrlPosition == nameof(WebPageItemUrlPositionType.Below))
{
    <mj-text>
        <div class="text">
            <h1>@((MarkupString)Model.Title)</h1>
            <p>
                @((MarkupString)Model.Content)
            </p>
        </div>
    </mj-text>
    <mj-button href="@WebPageItemUrl" css-class="button">
        @Properties.ReadMoreButtonText
    </mj-button>
}
else
{
    <mj-text>
        <div class="text">
            <h1>@((MarkupString)Model.Title)</h1>
            <p>
                @((MarkupString)Model.Content)
            </p>
        </div>
    </mj-text>
}

@code {
    [Parameter]
    public ProductWidgetProperties Properties { get; set; } = new();
}